.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  width: 30vw;
  text-align: center;
}

.searchInput {
  height: 20%;
  border-radius: 8px;
  border: 1px solid skyblue;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.searchInput:focus-visible {
  outline: 0px;
  border-color: #448EE4;
}

.searchButton {
  height: 20%;
  border-radius: 8px;
  border: 1px solid skyblue;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  background-color: lightsteelblue;
  overflow: clip;
}

.searchButton:hover {
  background-color: #448EE4;
  border-color: #448EE4;
  color: white;
}

.image {
  vertical-align: middle;
}

@media (max-width: 1024px) {
  .searchSection {
    height: 40vh;
    width: 40vw;
  }

  .searchButton,
  .searchInput {
    font-size: 18px;
  }
}